<div class="column full-width flex text-center gap-1em bg white" id="about">
    <h1 class="flex primary no-margin">About Me</h1>
    <div class="text-center full-width flex column-reverse">
        <div class="slider">
            <span style="--i:1;"><img src="../../../assets/skills/pic4.jpeg" matTooltip="JavaScript"></span>
            <span style="--i:2;"><img src="../../../assets/skills/python.png" matTooltip="Python"></span>
            <span style="--i:3;"><img src="../../../assets/skills/cpp_small.png" matTooltip="C++"></span>
            <span style="--i:4;"><img src="../../../assets/skills/typeScript.png" matTooltip="TypeScript"></span>
            <span style="--i:5;"><img src="../../../assets/skills/java.png" matTooltip="Java"></span>
            <span style="--i:6;"><img src="../../../assets/skills/dotnet.png" matTooltip=".NET"></span>
            <span style="--i:7;"><img src="../../../assets/skills/pic7.jpeg" matTooltip="C#"></span>
            <span style="--i:8;"><img src="../../../assets/skills/pic8.jpeg" matTooltip="Kotlin"></span>
            <!-- <span style="--i:9;"><img src="../../../assets/skills/pic9.jpeg" matTooltip="Docker"></span> -->
        </div><br>
        <div class="slider">
          <span style="--i:1;"><img src="../../../assets/skills/Salesforce-Logo-History-1.png" matTooltip="Salesforce"></span>
          <span style="--i:2;"><img src="../../../assets/skills/pic1.jpeg" matTooltip="Angular"></span>
          <span style="--i:3;"><img src="../../../assets/skills/pic10.jpeg" matTooltip="React"></span>
          <span style="--i:4;"><img src="../../../assets/skills/pic5.jpeg" matTooltip="MongoDB"></span>
          <span style="--i:5;"><img src="../../../assets/skills/pic11.jpeg" matTooltip="PostgreSQL"></span>
          <span style="--i:6;"><img src="../../../assets/skills/Microsoft365-1.png" matTooltip="Microsoft-365"></span>
          <span style="--i:7;"><img src="../../../assets/skills/wordpress.png" matTooltip="WordPress"></span>
          <span style="--i:8;"><img src="../../../assets/skills/pic6.jpeg" matTooltip="Node.js"></span>
          <span style="--i:9;"><img src="../../../assets/skills/pic9.jpeg" matTooltip="Docker"></span>
      </div>
        <div class="con">
            <p>My journey into software development started with a Higher Certificate in IT Support Services, building a strong foundation in troubleshooting and client interaction. I later earned a Bachelor of Computer & Information Science in Application Development from Varsity College Waterfall, specializing in full-stack web and mobile development.</p>
            <p class="no-margin">
              I’m deeply passionate about solving problems through code, continuously learning new technologies, and staying ahead in areas like AI/ML, cyber security, IoT, and cloud solutions. Whether it's building intuitive user experiences or architecting backend systems, I enjoy working across the stack to bring innovative ideas to life.
            </p>
        </div>
    </div>
    <h2 class="flex no-margin primary">Experience</h2>
    <div class="full-width">  
        <mat-stepper
          class="example-stepper"
          [orientation]="(stepperOrientation | async)!">
          <mat-step label="Student">
            <mat-card class="flex column center-center black padding-5px border-box no-relative unset">
              <div class="flex gap-1em center-center padding-5px border-box">
                <div>
                    <img src="../../../assets/exp/vc.jpeg" alt="VC" width="100%">
                </div>
                <div><h3>Student</h3></div>
              </div>
              <span>3 Years</span>
              <p>Completed advancing my studies in the Bachelor of Computer and Information Science program, specializing in Application Development. Gained comprehensive knowledge and practical skills in various aspects of software development and application design.</p>
            </mat-card><br>
            <div>
              <button class="primary" mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
          <mat-step label="Call Interaction Agent">
            <mat-card class="flex column center-center black padding-5px border-box no-relative unset">
                <div class="flex gap-1em center-center padding-5px border-box">
                    <div>
                        <img src="../../../assets/exp/blue_label_telecoms.jpeg" alt="BLT" width="100%">
                    </div>
                    <div><h3>Call Interaction Agent</h3></div>
                </div>
              <span>3 months</span>
              <p>During a 3-month learnership at Blue Label Distribution, a division of Blue Label Telecoms, I served as a Call Interaction Agent (CIA). In this role, I engaged with customers over the phone, providing support, answering inquiries, and ensuring customer satisfaction.
                Although the learnership was unfinished, this experience provided me with valuable insights into customer service practices, communication techniques, and problem-solving skills in a fast-paced environment.</p>
            </mat-card><br>
              <div>
                <button class="primary" mat-button matStepperPrevious>Back</button>
                <button class="primary" mat-button matStepperNext>Next</button>
              </div>
          </mat-step>
          <mat-step label="Candidate">
              <mat-card class="flex column center-center black padding-5px border-box no-relative unset">
                <div class="flex gap-1em center-center padding-5px border-box">
                    <div>
                        <img src="../../../assets/exp/afrikatikkun.jpeg" alt="ATS" width="100%">
                    </div>
                    <div><h3>Candidate</h3></div>
                </div>
                <span>6 months</span>
                <p>Undergone intensive training in Full Stack Web Development, with a specific focus on the MEAN Stack (MongoDB, Express.js, Angular, Node.js). This comprehensive program at Afrika Tikkun Services, in collaboration with Neutrinos, provides hands-on experience in developing dynamic web applications from front-end to back-end.</p>
                </mat-card><br>
              <div>
                <button class="primary" mat-button matStepperPrevious>Back</button>
                <button class="primary" mat-button matStepperNext>Next</button>
              </div>
          </mat-step>
          <mat-step label="Software Engineer Intern">
              <mat-card class="flex column center-center black padding-5px border-box no-relative unset">
                <div class="flex gap-1em center-center padding-5px border-box">
                    <div>
                        <img src="../../../assets/exp/neutrinos.jpeg" alt="Neutrinos" width="100%">
                    </div>
                    <div><h3>Software Engineer Intern</h3></div>
                </div>
                <span>5 months</span>
                <p>Intensive training and work experience with Neutrinos via Afrika Tikkun Services, focusing on modern web & mobile development practices, cloud technologies, and industry standards using the Neutrinos platform.</p>
                </mat-card><br>
              <div>
                <button class="primary" mat-button matStepperPrevious>Back</button>
                <button class="primary" mat-button matStepperNext>Next</button>
              </div>
          </mat-step>
          <mat-step label="C/C++ Programming Intern">
            <mat-card class="flex column center-center black padding-5px border-box no-relative unset">
              <div class="flex gap-1em center-center padding-5px border-box">
                  <div>
                      <img src="../../../assets/exp/cognifyz_techonologies_logo.jpeg" alt="cog" width="100%">
                  </div>
                  <div><h3>C/C++ Programming Intern</h3></div>
              </div>
              <span>1 month</span>
              <p>Developed and optimized C/C++ applications using core programming concepts, data structures, and algorithms, while following best practices for clean, efficient code. Showcased progress and projects through LinkedIn updates.</p>
              </mat-card><br>
            <div>
              <button class="primary" mat-button matStepperPrevious>Back</button>
              <button class="primary" mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Cyber Security Intern">
          <mat-card class="flex column center-center black padding-5px border-box no-relative unset">
            <div class="flex gap-1em center-center padding-5px border-box">
                <div>
                    <img src="../../../assets/exp/hacksecureofficial_logo.jpeg" alt="hackSecure" width="100%">
                </div>
                <div><h3>Cyber Security Intern</h3></div>
            </div>
            <span>1 month</span>
            <p>Performed hands-on penetration testing and security analysis using tools like Zenmap, Gobuster, Wireshark, sqlmap, and custom Python scripts. Conducted vulnerability assessments, simulated XSS attacks, and participated in Red Team CTF challenges to evaluate system and application security.</p>
            </mat-card><br>
          <div>
            <button class="primary" mat-button matStepperPrevious>Back</button>
          </div>
      </mat-step>
        </mat-stepper>
  </div>
</div>
