<div class="column full-height flex text-center gap-1em bg white" id="about">
    <h2 class="flex primary no-margin">About Me</h2>
    <div class="text-center flex column-reverse">
        <div class="slider">
            <span style="--i:1;"><img src="../../../assets/skills/pic1.jpeg" matTooltip="Angular"></span>
            <span style="--i:2;"><img src="../../../assets/skills/pic2.jpeg" matTooltip="HTML"></span>
            <span style="--i:3;"><img src="../../../assets/skills/pic3.jpeg" matTooltip="CSS"></span>
            <span style="--i:4;"><img src="../../../assets/skills/pic4.jpeg" matTooltip="JavaScript"></span>
            <span style="--i:5;"><img src="../../../assets/skills/pic5.jpeg" matTooltip="MongDB"></span>
            <span style="--i:6;"><img src="../../../assets/skills/pic6.jpeg" matTooltip="Node.js"></span>
            <span style="--i:7;"><img src="../../../assets/skills/pic7.jpeg" matTooltip="C#"></span>
            <span style="--i:8;"><img src="../../../assets/skills/pic8.jpeg" matTooltip="Kotlin"></span>
        </div>
        <div class="con">
            <p> My journey into the world of programming began during my academic years, and since then, I've been on a continuous learning path, staying updated with the latest technologies and trends in the web development landscape.</p>
            <p class="no-margin">
                I aimed at being an innovated individual who enjoys computers and coding. Calm, rational and logical approach to situations and challenges. Currently studying Bachlor of Computer Science and Information Technology in Application Development and graduate in Higher Certificate in IT at Varsity College. Knowledgeable and skillfull in Java, C#, SQL Databse, Oracle and Microsoft Azure. 
            </p>
        </div>
    </div>
</div>
