.phone {
    span {
        color: #3f51b5;
        font-weight: 800;
        font-size: xx-large;
    }

   .blue {
        color: #3f51b5;
        font-weight: 800;
   }
}

.padding-left-10px {
    padding-left: 10px;
}

.no-decoration {
    text-decoration: none;
    color: #3f51b5;
}

.margin-top-16p {
    margin-top:50px;
}

.carding {
    width: 30%;
}

.img {
    background: url('../../../assets/me.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 408px;
    height: 612px;
}

.text {
    text-decoration: none;
}

.line {
    border: 1px solid;
    width: 30px;
}

.contactBtn {
    border-radius: 20px;
    width: 135px;
}

.work {
    display: flex !important;
    flex-direction: row !important;
    height: 100%;
    @media (max-width: 666px) {
        flex-direction: column !important;
        margin-top: 16%;
    }
}

@media only screen and (max-width: 666){
    .width-30p {
        width: 69%;
    }
    
}