<div class="column flex full-width bg" id="homepage">
    <div class="full-width white center-center work gap-1em margin-top-16p bg2">
        <div class="column flex phone padding-left-10px">
            <h1 class="no-margin">Kgothatso</h1>
            <h1 class="no-margin">Theko<span>.</span></h1>
            <span class="line"></span>
            <p>LinkedIn | WhatsApp</p>
            <div class="row flex center-center gap-2em">
                <div>
                    <a class="no-decoration" href="https://www.linkedin.com/in/kgothatso-theko-197241226/"><i class="fa fa-linkedin-square" style="font-size:35px"></i></a>
                </div>
                <div>
                    <a class="no-decoration" href="https://wa.me/27614227501?">
                        <i class="fa fa-whatsapp" style="font-size:35px"></i>
                    </a>
                </div>
            </div>
            <p class="no-margin">GitHub </p>
            <div class="row flex center-center gap-2em">
                <div>
                    <a class="no-decoration" href="https://github.com/KgothatsoTheko">
                        <i class="fa fa-github" style="font-size:35px"></i>
                    </a>
                </div>
            </div><br>

            <button mat-flat-button color="primary"class="contactBtn"><a class="text white" href="../../../assets/Kgothatso Theko Resume Compressed Low.pdf">View Resume</a></button>
        </div>
        <div class="center-center column flex full-width">
            <img src="../../../assets/me.png" alt="me" width="100%">
        </div>
        <div class="column flex phone">
            <span class="no-margin">Hello,</span>
            <h2 class="no-margin"><strong>I'm a <span>{{dynamicWord}}</span></strong></h2>
            <p>
                Everyday is an opportunity to improve, even if it's only 1% -- Kaizen
            </p>
            <p>
                Passionate and driven Software Engineer with expertise in full-stack web development using the MEAN/MERN stack and mobile development in Kotlin or cross-platform frameworks like Ionic and React Native. I enjoy building scalable, innovative applications and solving complex real world problems through clean and efficient code.
            </p>
        </div>
    </div>
</div>
