.line {
    border: 1px solid;
    width: 200px;
}

.width-33p {
    width: 33%;
}

.cards {
    width: 150px;
    height: 150px;
    background-color: var(--primary-card-color);
}

@media only screen and (max-width: 666px) {

    .width-33p {
        width: 95%;
    }
    
}