<div class="column full-height text-center flex bg white gap-1em" id="projects">
    <h2 class="primary">Projects</h2>
    <p class="no-margin">My Project Collection</p>
    <blockquote class="no-margin">Heres a list of the applications that I have done recently</blockquote>
    <span class="line primary"></span><br>
    <div class="spacebetween-center flex gap-1em">
        <a href="https://kgothatsotheko.github.io/myWeatherApp/" class="link-wrapper">
            <mat-card class="cards center-center img1 pointer" matTooltip="Weather App">
                <!-- You can add any content here if needed -->
            </mat-card>
        </a>
        <a href="https://kgothatsotheko.github.io/randomQuizApp/">
        <mat-card class="cards center-center img2 pointer" matTooltip="Random Quiz App">
            
        </mat-card>
        </a>
        <a href="https://bakkieforhire-v1.web.app/">
            <mat-card class="cards center-center img3 pointer" matTooltip="Bakkie For Hire App">
                
            </mat-card>
        </a>
        <a href="https://savirtualization.azurewebsites.net/landing">
            <mat-card class="cards center-center img4 pointer" matTooltip="SAvirtualization">
                
            </mat-card>
        </a>
        
    </div><br>
    <!-- <div class="spacebetween-center flex gap-1em">
        <mat-card class="cards center-center">
            <span class="material-symbols-outlined">
                code
            </span>
            <p class="text-center flex skill">MEAN stack Development</p>
        </mat-card>
        <mat-card class="cards center-center">
            <span class="material-symbols-outlined">
                javascript
            </span>
            <p class="text-center flex skill">JavaScript</p>
        </mat-card>
        <mat-card class="cards center-center">
            <span class="material-symbols-outlined">
                database
            </span>
            <p class="text-center flex skill">Oracle</p>
        </mat-card>
    </div><br> -->
    <span class="line primary"></span>
</div>
