<div class="column full-height text-center flex bg white gap-1em" id="projects">
    <h2 class="primary">Projects</h2>
    <p class="no-margin">My Project Collection</p>
    <blockquote class="no-margin">List of projects done for clients and other</blockquote>
    <span class="line primary"></span><br>
    <div class="center-center wrap flex gap-1em full-width">
        <mat-card class="text-center width-33p unset">
            <a href="https://fourwminnovations.web.app/" class="link-wrapper flex center-center">
                <img src="../../../assets/projects/project6.png" width="100%" alt="4WM Innovations">
            </a>
            <h3 class="black">4WM Innovations</h3>
        </mat-card>
        <mat-card class="text-center width-33p unset">
            <a href="https://nineteen47onvilakazistreet.web.app/" class="link-wrapper flex center-center">
                <img src="../../../assets/projects/project4.png" width="100%" alt="Bakkie For Hire">
            </a>
            <h3 class="black">1947 On Vilakazi Street</h3>
        </mat-card>
        <mat-card class="text-center width-33p unset">
            <a href="https://fan-mobile.web.app/" class="link-wrapper flex center-center">
                <img src="../../../assets/projects/project5.png" width="100%" alt="FAN Mobile Hair Salon">
            </a>
            <h3 class="black">FAN Mobile Hair Salon</h3>
        </mat-card>
        <mat-card class="text-center width-33p unset">
            <a href="https://bakkieforhire-v1.web.app/" class="link-wrapper flex center-center">
                <img src="../../../assets/projects/project3.png" width="100%" alt="Bakkie For Hire">
            </a>
            <h3 class="black">Bakkie For Hire</h3>
        </mat-card>
        <mat-card class="text-center width-33p unset">
            <a href="https://kgothatsotheko.github.io/myWeatherApp/" class="link-wrapper flex center-center">
                <img src="../../../assets/projects/project1.png" width="100%" alt="Weather App">
            </a>
            <h3 class="black">Weather App</h3>
        </mat-card>
        <mat-card class="text-center width-33p unset">
            <a href="https://kgothatsotheko.github.io/randomQuizApp/" class="link-wrapper flex center-center">
                <img src="../../../assets/projects/project2.png" width="100%" alt="Random Quiz App">
            </a>
            <h3 class="black">Random Quiz App</h3>
        </mat-card>
    </div><br>
    <span class="line primary"></span>
</div>
