<div class="column full-height flex text-center gap-1em bg white" id="services">
    <h1 class="primary">Services</h1>
    <p><strong>What I Build For You?</strong></p>
    <p><small>Here are the list of services that I provide:</small></p>
    <div class="center-center wrap flex gap-1em">
        <mat-card class="perk center-center flex text-center10 unset">
            <div class="full-width">
                <img src="../../../assets/web.jpeg" alt="web" width="100%">
            </div>
            <h3 class="text-center flex skill">Web Applications</h3>
        </mat-card>
        <mat-card class="perk center-center flex text-center10 unset">
            <div class="full-width">
                <img src="../../../assets/mobile.png" alt="mobile" width="100%">
            </div>
            <h3 class="text-center flex skill">Mobile Applications</h3>
        </mat-card>
        <mat-card class="perk center-center flex text-center10 unset">
            <div class="full-width">
                <img src="../../../assets/software.jpeg" alt="software" width="100%">
            </div>
            <h3 class="text-center flex skill">Custom Software</h3>
        </mat-card>
    </div><br>
</div>
