<div class="column full-height flex text-center gap-1em bg white" id="services">
    <h3 class="primary">Services</h3>
    <p><strong>What I Am Providing</strong></p>
    <p><small>Here are the list of services that I provide:</small></p>
    <div class="spacebetween-center flex gap-1em">
        <mat-card class="cards center-center flex text-center10">
            <span class="material-symbols-outlined primary" style="font-size: xx-large;">
                code
            </span>
            <p class="text-center flex skill">MEAN Stack Web Development</p>
        </mat-card>
        <mat-card class="cards center-center text-center10">
            <span class="material-symbols-outlined primary" style="font-size: xx-large;">
                javascript
            </span>
            <p class="text-center flex skill" style="font-size: medium;">Single Page Websites</p>
        </mat-card>
        <mat-card class="cards center-center text-center10">
            <span class="material-symbols-outlined primary" style="font-size: xx-large;">
                code
            </span>
            <p class="text-center flex skill" style="font-size: medium;">Mobile Development</p>
        </mat-card>
        <!-- <mat-card class="cards center-center text-center10">
            <span class="material-symbols-outlined primary" style="font-size: xx-large;">
                code
            </span>
            <p class="text-center flex skill" style="font-size: x-large;">C#</p>
        </mat-card> -->
    </div><br>
</div>
